%contact-form {
  border-top: 6px solid orange;
  box-shadow: 26px 24px 70px 0 rgba(10, 10, 10, 0.3);
  color: grey;
  font-size: 16px;
  margin: 100px 0 0;
  padding: 10px 10px;
  position: relative;

  @include breakpoint(medium) {
    padding: 60px 60px;
  }

  .btn-secondary:hover {
    color: inherit;
  }

  input:not([type=submit]) {
    border: 2px solid grey;
    margin-bottom: 20px;
    padding: 25px;
    height: 60px;
    box-shadow: none;
    color: grey;

    &::placeholder {
      color: grey;
    }
  }

  textarea {
    @extend input;

    height: 220px !important;
    margin-top: 20px;
  }

  a {
    color: orange;
  }

  // validation
  .wpcf7-not-valid-tip {
    display: none;
  }

  .wpcf7-response-output {
    text-align: center;
    border: none;
  }

  //labels
  .cell {
    margin-top: 20px;
  }

  .wpcf7-form-control-wrap {
    position: relative !important;
    display: inline-block;
  }

  .wpcf7-form-control {
    margin-top: 0 !important;
  }

  label.for-input {
    color: #999;
    font-size: 18px !important;
    font-weight: normal;
    position: absolute !important;
    top: 7px !important;
    left: 20px;
    pointer-events: none;
    transition: 0.2s ease-out all;
    -moz-transition: 0.2s ease-out all;
    -webkit-transition: 0.2s ease-out all;
    background: rgba(255, 255, 255, 1);
    padding: 0 10px;
    margin-top: 5px;
    will-change: top, font-size;
    z-index: 9999;
  }

  /* active-focus-error state */
  input:focus ~ label.for-input,
  input.not-empty ~ label.for-input {
    top: -13px !important;
    font-size: 14px !important;
  }

  input.not-empty ~ label.for-input {
    color: orange;
  }

  input:focus ~ label.for-input {
    color: blue !important;
  }

  input.not-empty {
    border: 2px solid orange;
  }

  input.wpcf7-not-valid:not(:focus) {
    border: 3px solid red !important;

    & ~ label {
      color: red !important;
    }
  }

  input:disabled {
    background-color: white;
    opacity: 0.5;
  }

  input:focus {
    border: 2px solid blue;
    box-shadow: none;
  }

  // Checkbox
  .line {
    text-align: right;
    line-height: 60px;
  }

  .wpcf7-acceptance {
    padding-right: 15px;

    a {
      text-decoration: underline;
    }

    input {
      &[type=checkbox] {
        display: none;
      }

      & + span::before {
        content: url('../images/icons/check.png');
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
      }

      &:checked {
        & + span::before {
          content: url('../images/icons/check-active.png');
        }
      }
    }
  }
}

